*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-origin: border-box;
    flex-direction: column;
    justify-content: start;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    background-color: orange;
    position: fixed;
    width: 100%;

    
}

form{
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}
form input{
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
    cursor: pointer;
}

form :focus{
    background-color: beige;
}

main{
    background-color: gainsboro;
    height: 100vh;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: orange;
}
